<mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Referential
          </mat-panel-title>
          <mat-panel-description>
             panel open
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-action-list>
            <button mat-list-item (click)=openProducts()> Products </button>
            <button mat-list-item (click)=openCustomers()> Customers </button>
            <button mat-list-item > Managers </button>
        </mat-action-list> 
      </mat-expansion-panel>
    </mat-accordion>