#regionMenu {
  background-color: white;
  height: 50px;
  display: flex;
  align-items: center;
  margin: 15px;
}

#regionMenu, #regionContainer {
  width: 98%;
  margin: 1rem auto;
  background-color: white;
  user-select: none;
  -moz-user-select: none;
}

table {
    width: 100%;
  }
  
  img {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  #pdaTable {
    padding: 15px;
  }
  
  .header {
    background-color: white;
    display: flex;
    align-items: center;
    margin: 15px;
  }
  
  #container {
    background-color: white;
    margin: 15px;
  }
  .add {
    padding: 0.3em;
    background-color: #00a5aa;
    border-radius: 5px;
    height: 60%;
    margin: 1em 0 1em 1em;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-content: center;
  }
  
  .user-text {
    margin: 0.1em;
    color: white;
  }
  
  .icon-plus {
    margin: 0.1em;
    color: white;
  }
  
  .pageAndSearch {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 96%;
    margin: 0.5rem auto;
  }
  
  #pagination {
    min-width: 10rem;
    max-width: 20rem;
    margin-left: 1rem;
  }
  
  #search {
    font-size: calc(0.5em + .5vw);
    padding-right: 1rem;
    width: 20%;
    min-width: 150px;
    position: absolute;
    right: 0;
  }
  
  #search input {
    width: 100%;
  }
  
  .searchBar {
    width: 150px;
    height: 25px;
  }
  
  #tableFooter {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding: 1rem;
  }
  
  .colorPin {
    border-radius: 0.5rem;
    margin-right: 0.7rem;
  }
  
  .greenPin {
    background-color: #42b284;
  }
  
  .redPin {
    background-color: #e84155;
  }
  
  a:hover {
    color: inherit;
    text-decoration: inherit;
  }
  
  ngb-pagination::ng-deep ul > li.active > a {
    background-color: #01a4a6 !important;
    border: #01a4a6;
  }
  
  ngb-pagination::ng-deep ul > li:not(.active) > a {
    color: #01a4a6;
  }
  
  #loading img {
    width: 250px;
    height: 100px;
  }
  
  
  #loading {
    width: 300px;
    margin: 1rem auto;
    background-color: white;
    box-shadow: 0 0 0.2rem #00A5AA;
    border-radius: 5vw;
    padding: 1rem;
  }